<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Component Example</title>
    <link rel="stylesheet" href="../../src/styles/styles.css">
    <link rel="stylesheet" href="../../src/styles/styles_product.css">
    <link rel="stylesheet" href="../../src/styles/styles_navbar.css">
</head>

<body>
    <!-- Navbar Head Component -->
    <div class="navbar" style="background-color: rgb(110, 3, 3);">
        <a href="#">購物車</a>
        <a href="#">我的訂單</a>
        <a href="#">顧客中心</a>
        <a href="#">下載 APP</a>
        <a href="#">註冊</a>
        <a href="#">登入</a>
    </div>

    <!-- search Component -->
    <div class="head-box">
        <div class="search-box">
            <input type="text" placeholder="搜尋...">
            <button type="submit">
                <img src="../../src/assets/search.jpg" alt="Search"></button>
        </div>

        <!-- Navbar Product-->
        <div class="navbar">
            <a href="#">3C</a>
            <a href="#">周邊</a>
            <a href="#">NB</a>
            <a href="#">通訊</a>
            <a href="#">數位</a>
            <a href="#">家電</a>
            <a href="#">日用</a>
            <a href="#">母嬰</a>
            <a href="#">食品</a>
            <a href="#">生活</a>
            <a href="#">居家</a>
            <a href="#">休閒</a>
            <a href="#">保健</a>
            <a href="#">美妝</a>
            <a href="#">時尚</a>
            <a href="#">書店</a>
        </div>
    </div>
    <!-- Search Box -->


    <!-- Product Component -->
    <div class="product">
        <img src="product-image.jpg" alt="Product Image" class="product-image">
        <h2 class="product-name">Product Name</h2>
        <p class="product-price">$99.99</p>
        <button class="add-to-cart-button">Add to Cart</button>
    </div>

    <div class="red-div">
        <div class="yellow-div">
            <a href="">Yellow Div</a>
        </div>
        <div class="yellow-div">Yellow Div</div>
        <div class="gray-div">Gray Div</div>
        <div class="gray-div">Gray Div</div>
    </div>

</body>

</html>